:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent1-color: #ee9b00;
    --accent2-color: #ffffff;

    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 120px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.hero article img {
    float: right;
    width: 85px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width:30px;
}